aiogram==2.25.2
requests==2.31.0
bs4==0.0.2
beautifulsoup4==4.12.3
pandas==2.0.3
owlready2==0.46
cython==3.0.10
wheel==0.43.0
fuzzywuzzy==0.18.0
Levenshtein==0.25.1
nltk==3.8.1
openai==1.27.0
transformers==4.40.2
torch==2.3.0+cu121
torchaudio==2.3.0+cu121
torchvision==0.18.0+cu121


